doctype html
html
	head
		title medical records management
		script(type="text/javascript",src="/javascripts/jquery-1.12.1.js")
		script(type="text/javascript",src="/javascripts/utils.js")
		link(rel='stylesheet', href='/stylesheets/style.css')
		block styles
	body
		div(class="container") 
			header
				nav
					ul(class="menu")
						li(class="logo")
							a(href="/") Medical records management
						block menu-items
							li
								a(href="/agent/login") Professional
							li 
								a(href="/patient/login") Patient
						
		div(class="main-content")
			block content
	
			