extends base

block menu-items
    li
        a(href="/") Logout

block content

    h1(id="title") Personal infos
    center(id="user-infos")

    h1(id="title") Medical analysis
    center(id="work")
        
    script.
        $(document).ready(function(){
            $.ajax({
                url: "/agent/self/info",
                type: 'get',
                headers:{"jwt":"#{jwtoken}"},
                success: function(data){
                    var table = json2htmltab(data,['firstName','lastName','birthDate','gender','address','email','ssn']);
                    $("#user-infos").html(table);
                }
            });
            $.ajax({
                url: "/analyse/doctor-self",
                type: 'get',
                headers:{"jwt":"#{jwtoken}"},
                success: function(data){
                    var table = json2htmltab(data,['analysisType','title','ssnPatient','date','path']);
                    $("#work").html(table);
                }
            });
        });