extends base

block menu-items
    li
        a(href="/") Logout

block content

    h1(id="title") Administration interface
    center(id="content")

    h1(id="title") 
    center(id="work")
        
    script.
        $(document).ready(function(){
        /*    
            $.ajax({
                url: "/agent/self/info",
                type: 'get',
                headers:{"jwt":"#{jwtoken}"},
                success: function(data){
                    var table = json2htmltab(data,['firstName','lastName','birthDate','gender','address','email','ssn']);
                    $("#user-infos").html(table);
                }
            });
        */  
        });