extends base

block menu-items
    li 
        a(href="/") Logout

block content

    h1(id="title") User infos
    center(id="user-infos")

    h1(id="title") Consultations
    center(id="consultations")

    h1(id="title") Interventions
    center(id="interventions")

    h1(id="title") Analysis
    center(id="analysis")

    h1(id="title") Radiographies
    center(id="radiographies")
        
    script.
        $(document).ready(function(){
            $.ajax({
                url: "/patient/self/info",
                type: 'get',
                headers:{"jwt":"#{jwtoken}"},
                success: function(data){
                    var table = json2htmltab(data,['firstName','lastName','birthDate','gender','bloodGroup','address','email','ssn']);
                    $("#user-infos").html(table);
                }
            });
            $.ajax({
                url: "/consultation/patient-self",
                type: 'get',
                headers:{"jwt":"#{jwtoken}"},
                success: function(data){
                    var table = json2htmltab(data,['consultationType','title','date','prescription']);
                    $("#consultations").html(table);
                }
            });
            $.ajax({
                url: "/intervention/patient-self",
                type: 'get',
                headers:{"jwt":"#{jwtoken}"},
                success: function(data){
                    var table = json2htmltab(data,['interventionType','title','date','report']);
                    $("#interventions").html(table);
                }
            });
            $.ajax({
                url: "/analyse/patient-self",
                type: 'get',
                headers:{"jwt":"#{jwtoken}"},
                success: function(data){
                    var table = json2htmltab(data,['analysisType','title','date','path']);
                    $("#analysis").html(table);
                }
            });
            $.ajax({
                url: "/radio/patient-self",
                type: 'get',
                headers:{"jwt":"#{jwtoken}"},
                success: function(data){
                    var table = json2htmltab(data,['radioType','title','date','path']);
                    $("#radiographies").html(table);
                }
            });
        });